*.directory
*.json
*.kdev4
*.swp
*.ycm_extra_conf*
*.vcxproj
*.filters
*.cmake
*.sln
make.bat
build.sh
CMakeCache.txt


#Folders
.idea/
.kdev4/
.vscode/
build/
cmake-build-debug/
lib/
CMakeFiles/
*.dir/
.vs/
x86/
x64/